.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .header.light {
    background-color: #f0f0f0;
    color: #000;
  }
  
  .header.dark {
    background-color: #333;
    color: #fff;
  }
  
  .theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: inherit;
    padding-right: 60px;
  }
  
  .theme-toggle-button:focus {
    outline: none;
  }